*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial,  sans-serif;
}

h1{
    font-size: 16px ;
}

.no-select {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
 }


section{
    width: 100%;
    height: 100vh;
    position: relative;
     
}
section.main{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #2980b9;
    background: -webkit-linear-gradient(to right, #ffffff, #6dd5fa,#2980b9);
    background: linear-gradient(to right, #ffffff, #6dd5fa,#2980b9);
}

section.main:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: transparent;
    background: linear-gradient(to top , #2980b9, transparent);
    background: -webkit-linear-gradient(to top , #2980b9, transparent);

}

section.main .title{
    font-size: 12rem;
    letter-spacing: -6;
    color: #ffffff;
    position: relative;
    top: -36px;


}
section.main .clouds{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

}
section.main .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: clouds calc(3s * var(--i)) linear infinite;
}

@keyframes clouds {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(4);
    }
  
}

